@use "public/styles/variables" as vr;
@use "public/styles/mixins" as mx;
@use "public/styles/colors" as cv;

.lang {
  transition: all vr.$transition-fast ease-in-out;
  padding: vr.$padding-8;
  cursor: pointer;

 .bolder-text{
   font-weight: bold;
 }
  span {
    font-size: vr.$size-4xl;
    color: cv.$primary;

  }

  i {
    font-size: vr.$size-4xl;
    color: cv.$orange;
    margin: 0 vr.$margin-4;
  }
}

::ng-deep {
  .p-tooltip-text {
    font-size: 13px;
    text-align: center;
  }
}
