@use "public/styles/variables" as vr;
@use "public/styles/mixins" as mx;
@use "public/styles/colors" as cv;

.spinner-overlay {
  @include mx.position(fixed, 0, 0, 0, 0);
  background: cv.$light-overlay-bg;

  .loading-spinner {
    @include mx.position(fixed, 0, 0, 10%, 0);
    @include mx.display-flex(column, center, center);
    gap: vr.$spacing-20;
  }

  .content {
    @include mx.display-flex(row, center, center);
    gap: vr.$spacing-4;

    .brand-name {
      font-size: vr.$size-8xl;
      font-weight: 700;
    }

  }

  .spinner {
    @include mx.circle(50px);
    border: 5px solid cv.$text-inverse;
    border-top: 5px dashed cv.$primary;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
