<footer>
  <div class="row">
    <div class="col-12 col-md-12 col-lg-4">
      <div class="column-content">
        <h2>{{ "footer.contact_us" | translate }}</h2>
        <ul class="contact-list">
          @for (item of contactDetailsInfo; track item) {
            <li>
              <a
                [href]="item.href"
                target="{{ item.id == 3 ? '_self' : '_blank' }}"
              >
                <i class="{{ item.icon }}"></i>
                <span>{{ lang == "en" ? item.titleEN : item.titleAR }}</span>
              </a>
            </li>
          }
        </ul>
        <h2 class="follow-us-heading">{{ "footer.follow_us" | translate }}</h2>
        <app-social-media-info [lang]="lang"></app-social-media-info>
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-4">
      <div class="column-content">
        <div class="brand-header">
          <h2 class="brand-name">{{'common.gusto' | translate }}🍔</h2>
        </div>
        <p class="brand-description">
          {{ "footer.gusto_delivers" | translate }}
        </p>
        <div class="copyright-section">
          <p>
            {{ "footer.all_right" | translate }}
          </p>
          <p>
            {{ "footer.distributed" | translate }}
            <a class="gold-text" [href]="'https://wa.me/201554520650'" target="_blank">
              Ezzat Yaser
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-4">
      <div class="column-content">
        <h2>{{ "footer.opening_days" | translate }}</h2>
        <ul class="opening-days-list">
          @for (item of openDays; track item) {
            <li>{{ lang == "en" ? item.openDaysEN : item.openDaysAR }}</li>
          }
        </ul>
      </div>
    </div>
  </div>
</footer>
