@use "public/styles/variables" as vr;
@use "public/styles/mixins" as mx;
@use "public/styles/colors" as cv;

.social-media {
  @include mx.display-flex(row, center, center);
  gap: vr.$spacing-16;
  margin-top: vr.$spacing-8;

  .social-link {
    text-decoration: none;
  }

  .content {
    @include mx.circle(45px);
    @include mx.display-flex(row, center, center);
    cursor: pointer;
    transition: transform vr.$transition-base, box-shadow vr.$transition-base;

    &:hover {
      transform: translateY(vr.$spacing-4);
      box-shadow: 0 vr.$spacing-8 vr.$spacing-12 cv.$shadow-medium;
    }

    i {
      font-size: vr.$size-5xl;
      color: cv.$text-inverse;
      transition: all vr.$transition-base;
    }

    &.facebook-bg {
      background-color: cv.$facebook;
    }

    &.whatsapp-bg {
      background-color: cv.$whatsapp;
    }

    &.instagram-bg {
      background: cv.$instagram-gradient;
    }
  }
}
